li button {
    color: black !important;
}

li:active * {
    color: darkgoldenrod !important;
    font-weight: bold;
    color: yellow;
}

.card-inicio {
    width: 20%;
    background-color: lightgoldenrodyellow;
    transition: all 0.5s ease;
}

.card-inicio:hover {
    background-color: goldenrod;
    width: 25%;
    font-weight: bold;
}

.card-aba {
    width: 35%;
    background-color: lightgoldenrodyellow;
    transition: all 1s ease;
}

.card-aba:hover {
    width: 38%;
    background-color: goldenrod;
    font-weight: bold;
}

.btn-filtros {
    background-color: goldenrod;
    width: 50%;
    transition: all 0.2s ease;
}

.btn-filtros:hover {
    background-color: gold;
    width: 75%;
    font-weight: bold;
}

.campo-saldo {
    width: 40%;
}

.btn-transacao {
    width: 50% !important;
}

.btn-saldo {
    width: 80% !important;
}

.btn-submeter {
    background-color: goldenrod;
    transition: all 0.5s ease;
}

.btn-submeter:hover {
    background-color: yellow;
    font-weight: bold;
}

.celula-bancos {
    position: relative;
    transition: all 0.5s ease;
}

.celula-bancos:hover {
    border-radius: 15px;
    background-color: lightyellow;
    font-weight: bold;
}

#remove-bancos {
    display: inline;
}

form button.icone-bancos {
    display: inline;
    vertical-align: middle;
}

.icone-bancos {
    background: none;
    border: none;
    padding: 0;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: inherit;
}

.icone-bancos i {
    pointer-events: none;
}

.editar-bancos {
    float: left;
}

.apagar-bancos {
    float: right;
}

.linha-bancos:hover .icone-bancos {
    opacity: 1;
}

.icone-tabela {
    cursor: pointer;
}

.icone-transacao {
    display: inline;
    vertical-align: middle;
    background: none;
    border: none;

}